@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


:root {
    --primary-color: #F6C28B;
    --secondary-color: #FCD7AD;
    --tertiary-color: #F5CB5C;

    --my-pic-width: 200px;
    --my-pic-height: auto;
}


body {
    font-family: "Madimi One";
    margin: 0;
    position: relative;
}
body::after {
    content: "";
    background-image: url('../images/third-background.jpg');
    background-size: cover;
    opacity: 0.75; /* Adjust the opacity value as needed */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5; /* Ensure the pseudo-element is behind other content */
}

/* HEADER */

header {
    background-color: var(--secondary-color);
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.pic-section {
    background-color: var(--primary-color);
    width: 90px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 0 0 30px;
}
.header-pic {
    width: 90px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    width: 35vw;
    margin: auto 0;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
}
nav a:hover {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    transition: all .4s ease-in-out;
}

/* end of HEADER */

#me {
    display: flex;
    margin: 100px 0;
}
.img-me {
    text-align: center;    
    position: relative;
    width: 60vw;
}
.text-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}
.my-pic {
    width: var(--my-pic-width);
    height: var(--my-pic-height);
    position: relative;
}

.first_background,
.second_background {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.first_background {
    background-color: var(--primary-color);
    width: var(--my-pic-width);
    height: 250px;
    rotate: 10deg;
    z-index: -1;
}
.second_background {
    background-color: var(--tertiary-color);
    width: var(--my-pic-width);
    height: 250px;
    rotate: -10deg;
    z-index: -2;
}
.first-dog {
    margin: 100px 0;
    display: flex;
    align-items: center;
}
.first-dog-text {
    margin: 0 50px 0 100px;
}
.first-dog-pic, .second-dog-pic {
    width: 300px;
    height: auto;
}
.second-dog {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 100px 0;
}
.second-dog-text {
    margin: 0 100px 0 50px;
}

/* Comments style */
.comments-title {
    margin: 50px 0 10px;
    text-align: center;
    font-size: 30px;
}
#CommentForm {
    width: 80vw;
    margin: 50px auto;
}
#CommentForm fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 200px;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
}
#CommentForm label {
    margin: 20px;
    text-align: center;
    font-size: 25px;
}
.comment_input {
    width: 90%;
    padding: 5px 10px;
    margin: 15px auto;
    border: 1px solid transparent;
    border-radius: 10px;
}
.submitComment {
    width: 200px;
    height: 38px;
    margin: 10px auto;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    font-family: "Madimi One";
    font-size: 19px;
}

.posts-title {
    font-size: 30px;
    text-align: center;
    margin: 50px 0 0;
}
.posted-comments {
    width: 90%;
    margin: 50px auto 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.comment {
    width: 200px;
    padding: 10px;
    margin: 15px;
    background-color: var(--secondary-color);
    color: black;
    border-radius: 10px;
    text-align: center;
}
.comment-time {
    display: flex;
    font-size: 15px;
}
.hr {
    border: none;
    height: 1.5px;
    background-color: white;
}
.comment-content {
    font-size: 19px;
}

/* end of Comments style */


/* links to different pages */
.links {
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    background-color: var(--secondary-color);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}
.about-me {
    width: 300px;
}
/* end of links to different pages */

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--secondary-color);
}

/* end of FOOTER */
@media screen and (max-width: 700px) {

    /* HEADER */
    header {
        height: 40px;
    }
    .pic-section {
        width: 58px;
        height: 60px;
        text-align: center;
    }
    .header-pic {
        width: 45px;
        height: auto;
    }
    nav {
        width: 65vw;
        font-size: 15px;
    }
    /* end of HEADER */

    /* links to different pages */
    .link {
        width: 220px;
        font-size: 12px;
        text-align: center;
    }
    /* end of links to different pages */
}
