@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
  --primary-color: #F6C28B;
  --secondary-color: #FCD7AD;
  --tertiary-color: #F5CB5C;
}

body {
  margin: 0;
  font-family: "Madimi One";
  position: relative; 
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background.webp') center center;
  background-size: cover;
  opacity: 0.75; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

/* HEADER */

header {
  background-color: var(--secondary-color);
  margin: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.pic-section {
  background-color: var(--primary-color);
  width: 90px;
  height:100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 0 0 30px;
}
.header-pic {
  width: 90px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  width: 35vw;
  margin: auto 0;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
}
nav a:hover {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  transition: all .4s ease-in-out;
}

/* MAIN */

.title {
  text-align: center;
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

main { 
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 180px 1fr 1fr 1.4fr 150px;
}
.title {
  font-size: 45px;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* welcoming section */
.welcoming {
  grid-row: 2 / 3;
  max-width: 100vw;
}
.welcoming-div {
  display: flex;
}
.welcoming-img {
  width: 50%;
  height: auto;
}
.welcoming-div p {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 5% 10% 10% 10%;
  font-size: 20px;
  text-align: center;
}
.text-content {
  font-family: 'Carter One';
}
/* end of welcoming section */

/* facts section */
#facts {
  grid-row: 3 / 4;
  width: 80vw;
  height: 400px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: var(--tertiary-color);
  text-align: center;
}
.facts-title {
  font-size: 27px;
  padding: 40px 15% 20px;
  margin: 0;
}
#facts button {
  background-color: var(--primary-color);
  border: 3px solid transparent;
  font-family: "Madimi One";
  font-size: 20px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
}
.fact-container {
  animation: fadeInUp 1s ease-out forwards;
  width: 70%;
  margin: 30px auto 0;
  font-size: 20px;
}
/* end of facts section */

/* age calculator section */
#calculator {
  grid-row: 4 / 5;
}
.calcTitle {
  font-size: 25px;
  margin: 25px;
}
#calcForm {
  width: 70vw;
  height: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}
.dog_size {
  padding: 15px;
  font-size: 23px;
  text-align: center;
}
.options {
  padding: 15px;
  font-size: 19px;
}
.option {
  margin: 10px 3px;
}
.human_age {
  font-size: 18px;
  margin: 0 10px
}
.human_age_input {
  padding: 5px 10px;
  margin: 15px auto;
  border: 1px solid transparent;
  border-radius: 10px;
}
.submitAge {
  width: 200px;
  height: 38px;
  margin: 10px auto;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  font-family: "Madimi One";
  font-size: 19px;
}
.ageResult {
  margin: 10px auto;
  font-size: 20px;
}

/* end of age calculator section */

/* links to different pages */
.links {
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-around;
  height: 150px;
}
.link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 10px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    background-color: var(--secondary-color);
    width: 340px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}
/* end of links to different pages */

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--secondary-color);
}

/* end of FOOTER */

@media screen and (max-width: 700px) {

  /* HEADER */

  header {
    height: 40px;
  }
  .pic-section {
    width: 58px;
    height: 60px;
    text-align: center;
  }
  .header-pic {
    width: 45px;
    height: auto;
  }
  nav {
    width: 65vw;
    font-size: 15px;
  }

  /* end of HEADER */

  .title {
    font-size: 35px;
  }
  .text-content {
    font-size: 18px;
  }

  /* facts section */
  .facts-title {
    font-size: 20px;
  }
  /* end of facts section */

  /* age calculator section */
  .calcTitle {
    font-size: 22px;
  }
  #calcForm {
    width: 90vw;
  }
  .field {
    width: 75%;
  }
  /* end of age calculator section */

  /* welcoming section */
  .welcoming-img {
    display: none;
  }
  /* end of welcoming section */

  /* links to different pages */
  .link {
    width: 160px;
    font-size: 12px;
  }
  /* end of links to different pages */
}